.Weather {
  color: rgb(32, 33, 36);
  display: block;
  font-family: Roboto, arial, sans-serif;
  text-align: center;
  width: auto;
  border: 5px solid black;
  padding: 5px;
}

form {
  border-radius: 25px;
  box-shadow: 0 4px 12px rgba(23, 23, 23, 0.9);
  background: #303134;
  border-color: rgba(223, 225, 229, 0);
  display: inline-block;
  color: rgb(189, 193, 198);
  margin: 20px;
  padding: 5px;
}

.formControl {
  border-radius: 25px;
  border: none;
  margin-right: 5px;
  line-height: 0.8cm;
  padding-left: 10px;
}

.button {
  border-radius: 25px;
  border: none;
  margin-left: 5px;
  line-height: 0.8cm;
}

.row {
  margin: 0 auto;
}

li {
  text-align: left;
}

ul {
  list-style: none;
  padding: 0 auto;
  margin-bottom: 0px;
}

img {
  vertical-align: top;
}

#currentTemperature {
  font-weight: bold;
  font-size: 60px;
}

.units {
  font-size: 24px;
  display: inline-block;
  font-weight: 400;
  margin-top: 6px;
  padding-left: 6px;
  vertical-align: top;
}

footer{
  text-align: center;
  padding:3px;
}
