.Weather {
  color: rgb(32, 33, 36);
  text-align: center;
  border: 5px solid black;
  border-radius: 100px;
  padding: 5px;
  margin-top: 10px;
  width: fit-content;
  margin: 5px auto;
}

form {
  margin: 5px;
  vertical-align: baseline;
}

.row {
  margin: 15px;
}

.form-control {
  border-radius: 100px;
  border: none;
}

.form-control::placeholder {
  text-align: center;
  padding: 0px;
}

.searchButton {
  border: none;
  border-radius: 100px;
  background-color: #f4c01d;
  padding-top: 5px;
}

.searchButton:hover {
  background-color: #18c0c0;
}

img {
  vertical-align: top;
  border: 3px solid #59528d;
  border-radius: 100px;
}

#currentTemperature {
  font-weight: bold;
  font-size: 60px;
}

.units {
  font-size: 24px;
  display: inline-block;
  font-weight: 400;
  margin-top: 6px;
  padding-left: 6px;
  vertical-align: top;
}

footer {
  text-align: center;
  padding: 3px;
}
