#searchResults {
  font-weight: 700px;
}

.description {
  font-weight: 700px;
}

.currentTemp {
  margin-top: 3px;
}

.dateDescription {
  text-align: center;
  list-style: none;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  padding-left: 0px;
  padding-right: 0px;
  vertical-align: middle;
}

col-6 {
  vertical-align: middle;
  margin: 0 auto;
}
